<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>Proyectos Molones</header>
    <main>
      <section class="preview">
        <img class="photo-project" src="<%= project.photo %>" alt="<%= project.name %>" />
        <section class="preview-autor">
            <section class="preview-autor-info-project">
                <div class="preview-autor-info-project-div">
                    <hr class="preview-autor-info-project-div-line1" />
                    <p class="preview-autor-info-project-div-subtitle">
                        Personal Project Card
                    </p>
                    <hr class="preview-autor-info-project-div-line2" />
                </div>
                <h2 class="preview-autor-info-project-title"><%= project.name %></h2>
                <p class="preview-autor-info-project-slogan"><%= project.slogan %></p>
                <p class="preview-autor-info-project-desc"><%= project.description %></p>
            </section>
            <section class="preview-autor-info-tec-icon">
                <p class="preview-autor-info-tec-icon-technologies">
                    <%= project.technologies %>
                </p>
                <div class="preview-autor-info-tec-icon-div">
                    <a href="<%= project.demo %>" target="_blank" rel="noreferrer" class="preview-autor-info-tec-icon-div-icon">
                        <i class="fa-solid fa-globe"></i>
                    </a>
                    <a href="<%= project.repo %>" target="_blank" rel="noreferrer" class="preview-autor-info-tec-icon-div-icon">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </section>
            <section class="preview-autor-info-autor">
                <img class="profile-pic" src="<%= project.image %>" alt="<%= project.autor %>">
                <p class="preview-autor-info-autor-job"><%= project.job %></p>
                <p class="preview-autor-info-autor-name"><%= project.autor %></p>
            </section>
        </section>
    </section>
    

        </section>
    </main>
  </body>
</html>